aiohttp==3.6.2 
catboost==0.20.1
diffprivlib==0.1.1
flask==1.1.1
flask-restx==0.2.0
jsonschema==3.2.0 
mlflow==1.7.2
numpy==1.18.1
pandas==0.25.3
pathos==0.2.5
pytorch-ignite==0.3.0
ray==0.7.7
requests==2.22.0
scikit-learn==0.22.1
scipy==1.4.1
statsmodels==0.11.0
tensorflow==1.15.0
tf-encrypted==0.5.9
torch==1.4.0
torchvision==0.5.0
tinydb==3.15.2
tinydb-serialization==1.0.4 
tinydb-smartcache==1.0.2
tinyrecord==0.1.5
tqdm==4.40.2
werkzeug==1.0.1
xgboost==0.90
syft==0.2.4
syft-proto==0.2.5a1
